.universe-selectize{
    position: relative;
}

.universe-selectize select {
    display: none;
}

.universe-selectize .selectize-input input{
    width: 4px;
    opacity: 1;
    position: relative;
    left: 0px;
}

.universe-selectize .selectize-dropdown{
    width: 100%!important;
    top: 36px;
}

.universe-selectize.loading:after{
    content: "";
    width: 16px;
    height: 16px;
    background: url('/packages/vazco_universe-selectize/img/loading.gif') no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
}

.universe-selectize-placeholder{
    color: #bbb;
}
